h1, h2, p {
	font-family: sans-serif;
	text-align: center;
}
.icons-item {
	padding: 50px;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 2px;
	font-size: 10px;
	position: relative;
	text-align: center;
	font-family: sans-serif;
}
.icons-item p {
	margin: 0;
	position: absolute;
	top: 4px;
	left: 0;
	width: 100%;
}
.icons-item i {
	top: 40px;
    left: 40px;
}